html {
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
}

.container {
    min-width: 600px;
    max-width: 1010px;
    width: 80%;
    height: 60vh;
    border: 3px solid black;
    border-radius: 20px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.subreddit-container {
    display: flex;
}
.posts-container {
    padding: 10px 25px;
    border-right: 2px solid black;
    overflow: scroll;
    width: 300px;
}
.post-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    position: relative;
    font-size: 1.4rem;
}
.post-head img {
    width: 20px;
}
.menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 2px solid black;
    font-size: 0.6em;
    border-radius: 10px;
    right: 20px;
    top: 60px;
    z-index: 1;
}
.menu p {
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;

}
.menu p:first-child {
    border-bottom: 2px solid black;
}
.show {
    display: block;
}

.posts {
    display: flex;
    gap: 1em;
    border-bottom: 2px solid black;
    margin: 0 -25px;
    justify-content: center;
    padding-left: 15px;
    align-items: center;
}
.add-subreddit {
    position: relative;
}
.add-btn {
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    margin: 10px 25px;
    padding: 10px;
    cursor: pointer;

}
.modal-box {
    position: absolute;
    top: 65px;
    right: -265px;
    background-color: #fff;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
}
.modal-box p {
    margin: 10px 0;
}
.name-input {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 35px;
}
.modalbox-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}